<div class="panel panel-sea margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-gear"></i>入围供应商销量统计</h3>
    </div>
    <div class="panel-body">
        <div class="panel-title margin-bottom-10">
            <%= content_tag(:div, "统计日期：#{params[:begin]} 至 #{params[:end]}") if params[:begin].present? %>
            <%= content_tag(:div, "统计品目：#{params[:category_name]}") if params[:category_name].present? %>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th>供应商名称</th>
                    <th>联系人</th>
                    <th>联系方式</th>
                    <th>金额（元）</th>
                    <th>评价分</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <% @rs.present? && @rs.each_with_index do |r, index|%>
                <tr>
                    <td align="center"><%= show_index(index) %></td>
                    <td><%= (d = Department.supplier_by_name(r.seller_name).first).present? ? link_to_blank(r.seller_name, kobe_departments_path(id: d.id)) : r.seller_name %></td>
                    <td><%= d.present? ? d.users.first.try(:name) : "" %></td>
                    <td><%= d.present? ? d.users.first.try(:tel_and_mobile) : "" %></td>
                    <td class="money"><%= link_to_blank money(r.sum_total), kobe_orders_path("q[seller_name_cont]" => r.seller_name, "q[created_at_gt]" => params[:begin], "q[created_at_lt]" => params[:end], "q[items_category_name]" => params[:category_name], "q[status_in]" => Order.effective_status) %></td>
                    <td class="money"><%= @rates[r.seller_name].to_f.round(2) %></td>
                    <td class="w120 tc"><%= @dep_names.present? && @dep_names.include?(r.seller_name) ? "" : "未入围" %></td>
                </tr>
                <% end %>

                <% (arr = @dep_names - @rs.map(&:seller_name)).present? && arr.each_with_index do |a, i| %>
                <tr>
                    <td align="center"><%= show_index(@rs.length + i) %></td>
                    <td><%= (d = Department.supplier_by_name(a).first).present? ? link_to_blank(a, kobe_departments_path(id: d.id)) : a %></td>
                    <td><%= d.present? ? d.users.first.try(:name) : "" %></td>
                    <td><%= d.present? ? d.users.first.try(:tel_and_mobile) : "" %></td>
                    <td class="money">0</td>
                    <td class="money">0</td>
                    <td></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
