<div class="panel panel-grey margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> <%= Category.find_by(id: params[:ca_id]).try(:name) %></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 pull-left padding-top-5">
                <%= link_to('<i class="fa fa-plus"></i> 新增'.html_safe, new_path(params[:ca_id])) %>
            </div>
            <div class="col-md-4 pull-right">
                <%= search_form_for @q, url: kobe_products_path, html: { method: :get } do |f| %>
                <%= hidden_field_tag :ca_id, params[:ca_id] %>
                <div class="margin-bottom-10">
                  <div class="input-group">
                      <%= f.search_field :pcode_or_title_cont, class: "form-control", placeholder: "请输入作品名称或者编号..." %>
                      <span class="input-group-btn">
                          <button class="btn btn-u btn-sm" type="submit">搜索</button>
                      </span>
                  </div>
                </div>
                <% end %>
            </div>
        </div>
        <%= modal_dialog("opt_dialog") %>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="index">序号</th>
                    <th class="hidden-sm">作品编号</th>
                    <th>作品名称</th>
                    <th>类别</th>
                    <th>尺寸</th>
                    <th class="status_badge"><%= status_filter(Product) %></th>
                    <th class="date">上传时间</th>
                    <th class="cando">操作</th>
                </tr>
            </thead>
            <tbody>
                <% @products.each_with_index do |product,index| %>
                <tr>
                    <td><%= show_index(index) %></td>
                    <td><%= product.pcode %></td>
                    <td><%= product.title %></td>
                    <td><%= product.ptype %></td>
                    <td><%= product.psize %></td>
                    <td><%= product.status_badge %></td>
                    <td><%= show_date(product.created_at) %></td>
                    <td><%= btn_group(products_btn(product)) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @products %>
    </div>
</div>
