<!--=== Header ===-->
<div class="header">
    <div class="container pb-30">
        <div class=" row">
            <div class="pull-left">
                <!-- Logo -->
                <a class="logo" href="<%= root_path %>">
                    <img src="<%= asset_path("logo.png") %>" alt="Logo" height="110px" class="mt-5 mb-20">
                </a>
                <!-- End Logo -->
            </div>
            <div class="pull-right pr-35 pt-35">

                <img src="<%= asset_path("yinzhang.png") %>" alt="Logo" height="70px">

            </div>
        </div>
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--/navbar-collapse-->
</div>
<!--=== End Header ===-->

<!--=== Slider ===-->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="挥毫">
                <!-- MAIN IMAGE -->
                <img src="<%= asset_path("index/4b.jpg") %>"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </li>
            <!-- END SLIDE -->
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="书房">
                <!-- MAIN IMAGE -->
                <img src="<%= asset_path("index/1b.jpg") %>"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </li>
            <!-- END SLIDE -->
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="摆件">
                <!-- MAIN IMAGE -->
                <img src="<%= asset_path("index/2b.jpg") %>"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </li>
            <!-- END SLIDE -->
            <!-- SLIDE -->
            <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="印章">
                <!-- MAIN IMAGE -->
                <img src="<%= asset_path("index/3b.jpg") %>"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </li>
            <!-- END SLIDE -->
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!--=== End Slider ===-->

<!--=== Content Part ===-->
<div class="container content">

    <!-- Service Blocks -->
    <div class="row">
        <div class="col-md-10 col-sm-6">
            <div class="service-block service-block-default">
                <a href="<%= channel_path(2) %>">
                    <i class="icon-custom rounded-x icon-bg-dark fa  fa-picture-o"></i>
                    <h2 class="heading-md">画颜醉色</h2>
                    <p><img src="<%= asset_path("index/flower1.png") %>" width="100%"></p>
                </a>
            </div>
        </div>
        <div class="col-md-10 col-sm-6">
            <div class="service-block service-block-default">
                <a href="<%= channel_path(1) %>">
                    <i class="icon-custom rounded-x icon-bg-dark fa fa-inbox"></i>
                    <h2 class="heading-md">书道黑白</h2>
                    <p><img src="<%= asset_path("index/flower2.png") %>" width="100%"></p>
                </a>
            </div>
        </div>
        <div class="col-md-10 col-sm-6">
            <div class="service-block service-block-default">
                <a href="<%= channel_path(5) %>">
                    <i class="icon-custom rounded-x icon-bg-dark fa fa-coffee"></i>
                    <h2 class="heading-md">一屋艺品</h2>
                    <p><img src="<%= asset_path("index/flower1.png") %>" width="100%"></p>
                </a>
            </div>
        </div>
        <div class="col-md-10 col-sm-6">
            <div class="service-block service-block-default">
                <a href="<%= channel_path(4) %>">
                    <i class="icon-custom rounded-x icon-bg-dark icon icon-camera"></i>
                    <h2 class="heading-md">画里画外</h2>
                    <p><img src="<%= asset_path("index/flower2.png") %>" width="100%"></p>
                </a>
            </div>
        </div>
        <div class="col-md-10 col-sm-6">
            <div class="service-block service-block-default">
                <a href="zy.html">
                    <i class="icon-custom rounded-x icon-bg-dark fa fa-comments"></i>
                    <h2 class="heading-md">众语评谈</h2>
                    <p><img src="<%= asset_path("index/flower1.png") %>" width="100%"></p>
                </a>
            </div>
        </div>
    </div>
    <!-- End Service Blokcs -->

</div><!--/container-->
