<div id="footer-v2" class="footer-v2">
    <div class="footer">
        <div class="container">
            <div class="row">                
                <!-- Link List -->
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">快速通道</h2></div>
                    <ul class="list-unstyled link-list">
                        <% Dictionary.friendly_link.each do | k, v | %>
                            <li><a href="<%= v %>"><%= k %></a></li>
                        <% end %>
                    </ul>
                </div>
                <!-- End Link List -->                   

                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">关于我们</h2></div>
                    <address class="md-margin-bottom-40">
                        <i class="fa fa-home"></i>地址：<%= Dictionary.company_addr %><br />
                        <i class="fa fa-fax"></i>传真：<%= Dictionary.fax %><br />
                        <i class="fa fa-envelope"></i>邮箱：<%= Dictionary.web_email %>
                    </address>
                </div>

                <div class="col-md-4 md-margin-bottom-40">
                    <div class="headline"><h2 class="heading-sm">联系我们</h2></div>                         
                    <address class="md-margin-bottom-40">
                        办公用品：<%= Dictionary.service_bg_tel %><br />
                        粮机物资：<%= Dictionary.service_lj_tel %><br />
                        技术支持：<%= Dictionary.technical_support %> 
                    </address>
                </div>
                <!-- End Address -->
            </div>
        </div> 
    </div><!--/footer-->
    
    <div class="copyright">
        <div class="container">
            <p class="text-center"><%= "#{Dictionary.web_site_founded_year} - #{Time.now.year}" %> &copy; <a target="_blank" href="<%= Dictionary.web_site_domain %>"><%= Dictionary.web_site_name %></a> 版权所有</p>
        </div> 
    </div><!--/copyright--> 
</div>