<%= show_obj_info(@dep, @dep.get_xml(current_user)) %>
<div class="panel panel-grey margin-top-40">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-users"></i> 用户列表</h3>
	</div>
	<div class="panel-body">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th></th>
					<th>用户名</th>
					<th>姓名</th>
					<th>联系方式</th>
					<th>状态</th>
					<th class="cando">操作</th>
				</tr>
			</thead>
			<tbody>
				<% @dep.users.each_with_index do |user,index| %>
				<tr>
					<td align="center"><i class="fa fa-user color-<%= user.is_admin ? "orange" : "sea" %>"></i></td>
					<td><%= user.login %></td>
					<td><%= user.name %></td>
					<td><%= user.tel_and_mobile %></td>
					<td><%= user.status_badge %></td>
					<td><%= btn_group(users_btn(user)) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
