<div class="col-md-3 md-margin-bottom-40" id="show_tree_div">
	<div class='tag-box tag-box-v3'>
		<ul id="ztree_show" class="ztree"></ul>
	</div>

	<div class='btn-group-vertical' id="rMenu" style="position:absolute; visibility:hidden;z-index:10000;">
	<%= ztree_right_btn(controller_name.classify) %>
	</div>

</div>
<div class="tag-box tag-box-v4 col-md-9" id="show_content_div">
	<%= modal_dialog("opt_dialog") %>
	<div class="tab-content">
		<div class="tab-pane fade active in" id="show_ztree_content">
			<div class="panel-heading overflow-h margin-bottom-20 no-padding" id="ztree_title">
			</div>
			<div id="ztree_content">
			</div>
		</div>
	</div>
</div>

<SCRIPT type="text/javascript">
	function get_ztree_params(type) {
		var path = "";
		switch (type)
		{
			// 隐藏左侧的树 false为默认不隐藏显示树 true不显示树
			case 'hide_tree': path = <%= hide_tree ||= false %>; break;
			case 'init': path = "<%= get_path %>"; break;
			case 'move': path = "<%= post_path %>"; break;
			// ajax加载显示指定node和url current_node_id和ajax_show_url一起使用 'ajax_show_url'为默认显示show页面
			case 'current_node_id': path = "<%= current_node_id ||= 0 %>"; break;
			case 'ajax_show_url': path = "<%= ajax_show_url ||= 'ajax_show_url'  %>"; break;
			case 'model_name': path = "<%= controller_name.classify %>"; break;
			// 右键菜单增加:new、修改:edit、删除:destroy、点击展示页面:show
			default: path = '<%= "/#{params[:controller]}/" %>';
		}
		return path
	};

	var zTree, rMenu;
	$(document).ready(function(){
		init_ztree();
		zTree = $.fn.zTree.getZTreeObj("ztree_show");
		rMenu = $("#rMenu");
		$("#callbackTrigger").bind("change", {}, setTrigger);
	});

</SCRIPT>
