<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title><%= Dictionary.web_site_name %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="zcl">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- CSS Global Compulsory -->
    <%= javascript_include_tag "highcharts" %>
    <%= stylesheet_link_tag  "kobe" %>


</head> 

<body>
   
    <div class="container content">
        <%= yield %>
    </div>     
    <!--[if lt IE 9]>
    <%= javascript_include_tag "ie_9" %>
    <![endif]-->
</body>
</html>